.container {
  position: relative;
  padding: 18px;
  height: calc(100% - 60px);
}

.amountWrap {
  border-top: 1px solid #ededed;
  padding-top: 10px;
  > div {
    padding: 9px 0;
    line-height: 24px;
  }
  .name {
    width: 25%;
    font-size: 16px;
  }

  .num {
    text-align: right;
    width: 75%;
  }
}

.highlight {
  color: #08ce9e;
}
