.create1 {
  position: relative;
  padding: 0 18px 18px 18px;
  min-height: 100%;
}

.tit {
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}

.btnNext {
  height: 49px;
  position: absolute;
  bottom: 20px;
  left: 18px;
  right: 18px;
  font-weight: 500;
  > button {
    height: 100%;
    width: 100%;
  }
}

.tip {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  background: var(--chakra-colors-blackAlpha-100);
  padding: 44px 28px 50px;
}
