.container {
  position: relative;
  padding: 0 18px 18px 18px;
  height: 100%;
  // height: calc(100% - 60px);
  overflow-y: auto;
}

.tit {
  font-size: 20px;
  font-weight: 600;
  // margin-top: 40px;
}

.logo {
  width: 63px;
  height: 63px;
  border-radius: 8px;
  border: 1px solid #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    width: 50px;
  }
}
.id {
  // width: 97px;
  margin-left: 12px;
  height: 24px;
  font-size: 20px;
  font-weight: bold;
  color: #444649;
  line-height: 24px;
}
.addr {
  width: 142px;
  height: 29px;
  line-height: 29px;
  background: var(--chakra-colors-blackAlpha-100);
  border-radius: 4px;
  padding: 0 5px;
  text-align: center;
  // margin-left: 12px;
  // margin-top: 8px;
  font-size: 14px;
}

.list {
  .listItem {
    position: relative;
    padding: 12px 14px;
    align-items: center;
    margin-top: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--chakra-colors-blackAlpha-100);

    &:hover {
      background-color: var(--chakra-colors-blackAlpha-100);
    }
  }
}
